<div class="card">

  <span style="display:inline-block; padding:5px 10px; background:#e7f1ff; color:#0d6efd; border-radius:20px; font-size:13px;">
    {{ evento.categoria }}
  </span>

  <h2 style="margin:8px 0;">
    {{ evento.titulo }}
  </h2>

  <p>
    {{ evento.descricao }}
  </p>

  <p>
    <strong>Data:</strong>
    {{ evento.dataHora | date:'dd/MM/yyyy HH:mm' }}
  </p>

  <p>
    <strong>Local:</strong>
    {{ evento.local }}
  </p>

  <p>
    <strong>Status:</strong>
    {{ status }}
  </p>

  <p>
    <strong>Vagas:</strong>
    {{ vagasDisponiveis }} disponíveis de {{ evento.vagas }}
  </p>

  <p>
    <strong>Organizador:</strong>
    {{ evento.organizador }}
  </p>
  <ng-container *ngIf="status?.toLowerCase() === 'finalizado'; else actionsAtivas">
    <span class="badge-finalizado">Evento já finalizado</span>
  </ng-container>

  <ng-template #actionsAtivas>
    <button
      *ngIf="inscrito"
      type="button"
      (click)="cancelar()"
      class="btn btn-danger"
    >
      Cancelar Inscrição
    </button>

    <button
      *ngIf="!inscrito"
      type="button"
      (click)="inscrever()"
      [disabled]="vagasDisponiveis === 0"
      class="btn btn-success"
    >
      Inscrever-se
    </button>
  </ng-template>

</div>